{% set emailLocale = locale|default('en') %}
<h3>{{ 'emails.error.title'|trans({}, 'emails', emailLocale) }}</h3>

<p>{{ 'emails.error.intro'|trans({}, 'emails', emailLocale) }}</p>
<p>{{ 'emails.error.body'|trans({'%message%': errorMessage}, 'emails', emailLocale) }}</p>
<p>{{ 'emails.error.instructions'|trans({}, 'emails', emailLocale) }}</p>
<p>{{ 'emails.error.thanks'|trans({}, 'emails', emailLocale) }}</p>
